* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --default-border-radius: 5px;
  --light-background: #ffffff;
  --grey-background: #f5f5f5;
  --grey-background-hover: #e6e6e6;
  --borders: #c8c8c8;
  --border-hover: #c8dcdc;
  --borders-dark: #707070;
  --text: #333333;
  --secondary-text: #b4b4b4;
  /* Element sizes */
  --button-height: 30px;
  /* Spacing */
  --element-spacing: 30px;
  --inner-element-spacing: 10px;
}
.no-scroll-bars {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.no-scroll-bars::-webkit-scrollbar {
  display: none;
  /* chrome */
}
h1,
h2,
h3,
p,
label,
textarea,
button,
input {
  color: var(--text);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  color: var(--text);
}
